*.o
.vscode/
*.elf
*.map
*.z64
*.blend1

lua-5.4.4/

build/
debugger
gfxvalidator
assets_working/
vpk/
portal_pak_dir/
portal_pak_modified/

tools/skeletool64
tools/vtf2png

skelatool64/*.zip

src/controls/controller-data.h
