*.blend1
*.elf
*.map
*.o
*.obj
*.z64

.vscode/
.vs/
build/
gfxvalidator/

assets_working/
notes/
portal_pak_dir/
portal_pak_modified/
vpk/

tools/vtf2png*

controller_recording*.h
log.txt
log_images/
