*.o
.vscode/
*.elf
*.map
*.z64
*.blend1

build/
debugger
gfxvalidator
assets_working/
assets/locales/
vpk/
portal_pak_dir/
portal_pak_modified/

resource/closecaption_*

tools/skeletool64*
tools/vtf2png*

src/controls/controller-data.h


log.txt
log_images/